---
# tasks file for apigee-opdk-update-component-inplace
- name: Determine if component was previously installed
  stat:
    path: "{{ apigee_home }}/{{ component }}"
  register: component_state

- name: Update apigee component
  shell: '/opt/apigee/apigee-service/bin/apigee-service {{ component }} update'
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"
    PORT_TIMEOUT: '{{ port_timeout | default(60) }}'
    UP_TIMEOUT: '{{ up_timeout | default(60) }}'
  when: component_state.stat.exists
